* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  max-width: 1400px;
  margin: 0 auto;
}

.login_wrapper{
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}

.login_outlook {
  position: relative;
  height: 500px;
  margin: auto;
  width: 500px;
  /* background-color: black; */
  border-radius: 20px;
  border-style: solid; /* Apply solid style to all sides */
  border-color: black; /* Apply black color to all sides */
  border-width: 5px 2px; /* Set top/bottom to 5px and left/right to 2px */
}

.form_list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  height: 100%;
}

.button_style{
  background-color: black !important;
}

.dashboard_heading{
  display: grid;
  grid-template-columns: 1fr 500px;
  align-items: center;
}

.dashboard_heading h2{
  font-size: 50px;
  margin: 20px 0;
}

.dashboard_actions{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

/* .dashboard_actions Button:hover{
  color: greenyellow;
} */

.button_style:hover{
  background-color: rgb(127, 190, 33) !important;
}